.box_card_message_content{
    background-color: var(--white);
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto 0;
    border-bottom: solid 2px var(--grey-secondary);
}
.card_message_icon{
    font-size: 2rem;
    margin: 2rem;
}
.box_card_message_info{
    width: 100%;
}

.box_card_message_description{
    color: var(--grey-primary);
    width: 100%;
}

.box_card_message_name {
    color: var(--blue-primary);
    width: 100%;
}









