/* .ui.text.container.productPage{
    margin-top: 2rem;
background-color: brown;
    height: 100%;
   width: 200rem;
} */
.ui.items.producPage {
    padding: 4.5rem;
    border-top: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 3rem auto;
    height: 100%;
    width: 70rem;
}

.content.productPage {
    padding-left: 2rem !important;
}

.priceProductPage {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.description.productPage {
    width: 35rem;
}

.imgProductPage {
    width: 25rem;

}

.imageProduct {
    width: 100%;
}

.buttonsProductPage {
    margin: 1rem;
}

.ui.fluid.button.sellProductPage {
    height: 3.5rem;
    margin-top: 1rem;

}

.ui.fluid.button.cartProductPage {
    height: 3.5rem;
    margin-top: 1rem;
    background-color: var(--blue-secundary);
}

.boxTitleSimilar{
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.titleSimilar {
    color: var(--white);
    font-weight: bold;
}