.second-filter {
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 2rem;
    margin-right: 1rem;
    height: 36rem;
    width: 20rem;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
}

.ui.row.category{
    width: 28rem;
}
.column.filter{
    margin-left: 3rem;
}
.column.itens{
    margin: 2rem;
}
.ui.segment.itens.categoryItens {
  border-radius: 1rem;
    background-color: var(--white);
    width: 63rem;
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
}
a:link {
      text-decoration: none; /* Remova a decoração de link (sublinhado) se necessário */
 }
.itemContentCategory {
    display: flex;
    align-items: center;
}

#imgItensCategory {
    margin-right: 2rem;
    /* Espaçamento entre a imagem e as outras informações */
}

.itemInfoCategory {
    flex: 1;
    /* Ocupa o espaço disponível */
    justify-content: space-between;
    /* Alinha o conteúdo nos extremos da div */
}
.saveCategory {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.ui.vertically.divided.grid {
    margin: 3rem;
}
.iconMotor {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
 
  .ui.header.motor {
    text-align: center;
  }


