.category_second_filter {
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 2rem;
    margin-right: 1rem;
    height: auto;
    width: 20rem;
    transition: 0.3s;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
}
.category_filter_dropdown{
    font-size: 20px;
 flex-direction: row;
 display: flex;
 justify-content: space-between;

}

.ui.row.category{
    width: 28rem;
}
.column.filter{
    margin-left: 3rem;
}
.column.itens{
    margin: 2rem;
}
.ui.segment.itens.categoryItens {
  border-radius: 1rem;
    background-color: var(--white);
    width: 63rem;
    display: flex;
    align-items: center;
}
a:link {
    text-decoration: none;
 }
.itemContentCategory {
    display: flex;
    align-items: center;
}

#imgItensCategory {
    margin-right: 2rem;
    /* Espaçamento entre a imagem e as outras informações */
}

.itemInfoCategory {
    flex: 1;
    /* Ocupa o espaço disponível */
    justify-content: space-between;
    /* Alinha o conteúdo nos extremos da div */
}

.angle.down.icon.category{
    color: var(--blue-primary);
    font-size: 1.7rem;
}
.saveCategory {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.ui.vertically.divided.grid {
    margin: 3rem;
}
.icon_category_motor {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
 
  .ui.header.motor {
    text-align: center;
  }


