.container_product_card_smaller {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--grey-primary);
    border-radius: 10px;
    width: 15rem;
    height: 23rem;
}
.container_product_card_smaller:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    cursor: pointer;

    .container_product_card_smaller_action_icon {
        opacity: 1;
        transition: 0.3s;
    }

}

.box_product_card_smaller_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 1rem;
  
}

.product_card_smaller_price {
    font-size: 20px;
    color: var(--blue-primary);
    font-weight: bold;
}

.box_product_card_smaller_title {
    display: flex;
    color: var(--grey-primary);
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    height: 100%;
   
}
.product_card_smaller_title{
    font-size: 18px;
}


.container_product_card_smaller_action_icon {
    display: flex;
    padding: 0.5rem;
    padding-bottom: 0;
    gap: 0.5rem;
    justify-content: end;
    align-items: end;
    opacity: 0;
}

.box_product_card_smaller_image {
    position: relative;
    top:0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_product_card_smaller_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 0.5rem;
    border: none;
    
}

.ui.icon.button.product_card_smaller{
    background-color: var(  --blue-secundary);
}

.ui.fluid.button.product_card_smaller{
    background-color: var(  --blue-secundary);
}

.product_card_smaller_price_info{
    font-size: 13px;
    color: var(--grey-primary);
}