.box_settings_bar_edit {
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 1rem;
    height: 100%;
    width: 20rem;
    border-radius: 10px;
    gap: 1rem;
}

.acessebility_box_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.acessebility_profile_description {
    margin-top: 1rem;

}

.ui.form .disabled.field {
    opacity: 1 !important;
}

.acessebility_container_profile {
    margin: 4rem;
    flex-direction: column;
}

.acessebility_profile_switcher {
    align-items: start;
}

.container_edit_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.ui.vertical.menu.edit {
    width: 20rem;
    border: none;

}

.title_section_edit_profile {
    padding: 1rem;
}

.settings_bar_edit_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_edit_section_profile {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--white);
    width: 71rem;
    height: 36.4rem;
    border-radius: 5px;
}

.acessebility_containerscrowll_profile {
    max-height: 25rem;
    width: 100%;
    overflow-y: scroll;
}

.edit_profile {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--blue-secundary);
}

.edit_section_title_profile {
    padding: 1rem;
}

.ui.form.editOptions {
    margin: 2rem
}

.field.name.surname {
    width: 65rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.field.name.label {
    display: flex;
    flex-direction: row;
    gap: 32rem;

}

.field.password {
    width: 65rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.field.password.label {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 32rem;
}

.ui.form.edit {
    margin: 2rem;
}

.messages_container_profile {
    max-height: 25rem;
    width: 100%;
    overflow-y: scroll;
}

.rating_container_profile {
    max-height: 27rem;
    width: 100%;
    overflow-y: scroll;
}

.buttons_profile_edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit_profile_Button {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.conclusion_profile_button {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.cancel_profile_Button {
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: var(--white);
    width: 100%;
}
.fluid.ui.button.conclusion{
    width: 90%;
    margin: 0 auto;

}
.fluid.ui.button.cancel {
    background-color: var(--grey-secondary);
    color: var(--black);
}

.container_information_profile_edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue-secundary);
    color: var(--white);
    padding: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.ico_information_profile {
    color: var(--white);
    margin-right: 1rem;
    font-size: 10rem;
}

.icon_information_profile_alert {
    color: var(--yellow-primary);
    transition: 1s;
    margin-right: 1rem;
    font-size: 10rem;
}

.box_edit_profile_title_similar {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ----------------------------Modelo Tablet---------------------------- */
.rating_container_profile_tablet {
    max-height: 40rem;
    width: 100%;
    overflow-y: scroll;
}

/* ----------------------------Modelo Mobile---------------------------- */

.container_edit_profile_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_settings_bar_edit_mobile {
    margin-top: 1rem;
    height: 100%;
    width: 85%;
    gap: 1rem;
}

.edit_profile_mobile {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
    color: var(--blue-secundary);
}

.menu_edit_profile {
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    border: solid 0.05px var( --grey-senary);
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    flex-direction: row;
    gap: 3.5rem;
    justify-content: center;
}

.edit_icon_mobile {
    font-size: 2rem;
    color: var(--blue-primary);
}

.edit_section_title_profile_mobile {
    padding-top: 2rem;
    padding-left: 2rem;
}
.conclusion_profile_button_mobile {
    width: 48%;
}
.cancel_profile_Button_mobile{
    width: 48%;
}

.messages_container_profile_mobile {
    max-height: 39rem;
    width: 100%;
    overflow-y: scroll;
}
.state_edit_section_profile_mobile{
    margin-top: 1.2rem !important;
}

.rating_container_profile_mobile {
    max-height: 35rem;
    width: 100%;
    overflow-y: scroll;
}

.box_edit_section_profile_mobile {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--white);
    width: 90%;
    margin: 2rem auto 0;
    border: solid 0.05px var( --grey-senary);
    border-radius: 5px;
    padding-bottom: 1rem;
}
.box_section_profile_mobile {
    width: 90%;
    margin: 2rem auto 0;
    border-radius: 5px;
    padding-bottom: 1rem;
}
.box_section_rating_mobile {
    width: 93vw;
    margin: 2rem auto 0;
    border-radius: 5px;
    padding-bottom: 1rem;
    height: auto;
}

.acessebility_box_profile_mobile {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apply_profile_button {
    margin-top: 2rem;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.acessebility_profile_description_mobile {
    padding: 1rem;
}

.edit_profile_footer_margin{
margin-top: 3rem;
}

.checkbox-wrapper-6 .tgl {
    display: none;
  }
  .checkbox-wrapper-6 .tgl,
  .checkbox-wrapper-6 .tgl:after,
  .checkbox-wrapper-6 .tgl:before,
  .checkbox-wrapper-6 .tgl *,
  .checkbox-wrapper-6 .tgl *:after,
  .checkbox-wrapper-6 .tgl *:before,
  .checkbox-wrapper-6 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-6 .tgl::-moz-selection,
  .checkbox-wrapper-6 .tgl:after::-moz-selection,
  .checkbox-wrapper-6 .tgl:before::-moz-selection,
  .checkbox-wrapper-6 .tgl *::-moz-selection,
  .checkbox-wrapper-6 .tgl *:after::-moz-selection,
  .checkbox-wrapper-6 .tgl *:before::-moz-selection,
  .checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-6 .tgl::selection,
  .checkbox-wrapper-6 .tgl:after::selection,
  .checkbox-wrapper-6 .tgl:before::selection,
  .checkbox-wrapper-6 .tgl *::selection,
  .checkbox-wrapper-6 .tgl *:after::selection,
  .checkbox-wrapper-6 .tgl *:before::selection,
  .checkbox-wrapper-6 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn:after,
  .checkbox-wrapper-6 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-6 .tgl-light + .tgl-btn {
    background: var( --grey-senary);
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
  }
  .checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
    background: var(--blue-secundary);
  } 

  .divider {
    margin: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid var(--grey-senary);
  }