.order_product_name {
    padding-left: 1rem;
    color: var(--blue-primary);
}

.order_product_price {
    font-size: 1.7rem;
    color: var(--blue-primary);
    padding-left: 1rem;
}

.order_product_subtext {
    font-size: 1rem;
    padding-left: 1rem;
    color: var(--grey-primary);
}

.order_product_complement {
    color: var(--grey-primary);
    padding-left: 1rem;
    padding-right: 5rem;
}

.order_buttons {
    position: relative;
    right: 3%;
}

.ui.icon.button.order{
    margin-bottom: 1.5rem;
    background-color: transparent;
    padding-left: 9rem;
}

.box_order_icon{
    padding-top: 1rem;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.angle.down.icon.order{
    padding-top: 2rem;
    color: var(--blue-primary);
    font-size: 1.5rem;
}

.item_order_content{
    background-color: var(--white);
    width: 80%;
    display: flex;
    align-items: center;
    margin: 2rem auto 0;
    position: relative;
    z-index: 0;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.container_order_dropdown_info{
    width: 78%;
    height: 100%;
    background-color: var(--grey-secondary);
    margin: auto;
    margin-bottom: 2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.container_order_transport_info {
    padding-top: 5%;
    padding-left: 15%;
}

.container_order_steps{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui.tiny.steps.order {
    margin: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.disabled.step.order {
    .icon {
        color: var(--grey-terciary);
    }
}

.completed.step.Orders  {
    .icon {
        color: var(--blue-quaternary);
    }
}

.step.order  {
    .icon {
        color: var(--blue-primary);
    }
}
/* ----------------------------Modelo Mobile ---------------------------- */
.order_product_name_mobile {
    padding-left: 1rem;
    color: var(--blue-primary);
}

.order_product_price_mobile {
    font-size: 1.7rem;
    color: var(--blue-primary);
    padding-left: 1rem;
}

.order_product_subtext_mobile {
    font-size: 1rem;
    color: var(--grey-primary);
}

.item_order_content_mobile{
    background-color: var(--white);
    width: 90%;
    z-index: 2;
    align-items: center;
    margin: 2rem auto 0;
    position: relative;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.three.fields.order_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_order_dropdown_info_mobile{
    width: 85%;
    height: 100%;
    background-color: var(--grey-secondary);
    margin: auto;
    margin-bottom: 2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.container_order_transport_info_mobile {
   padding: 8%;
}

.container_order_steps_mobile{
    display: flex;
    align-items: center;
}

.ui.tiny.steps.order_mobile {
    margin-left: 2rem;
    margin-bottom: 2rem;
    width:21.5%;
    height: 3%;
    flex-direction: row !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.order_info_mobile{
    font-size: 15px;
}

.disabled.step.order_mobile {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    .icon {
        font-size: 20px;
        color: var(--grey-terciary);
    }
}

.step.order_mobile {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    .icon {
        font-size: 20px;
        color: var(--blue-primary);
    }
}


