.column.itens {
    margin: 2rem;
}

.ui.segment.itens.categoryItens {
    border-radius: 1rem;
    background-color: var(--white);
    width: 64rem;
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
}

a:link {
    text-decoration: none;
    /* Remova a decoração de link (sublinhado) se necessário */
}

.itemContentCategory {
    display: flex;
    align-items: center;
}

#imgItensCategory {

    margin-right: 2rem;
    /* Espaçamento entre a imagem e as outras informações */
}

.itemInfoCategory {
    flex: 1;
    /* Ocupa o espaço disponível */
    justify-content: space-between;
    /* Alinha o conteúdo nos extremos da div */
}

.iconProductAction.category {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
}

.ui.vertically.divided.grid {
    margin: 3rem;
}

.ui.header.motor {
    text-align: center;
}

.itemPrecoCategory{
    padding-left: 2rem;
    color: var(--blue-primary);
}

.descricaoCategory{
    font-size: 1.1rem;
    padding-left: 2rem;
    color: var(--grey-primary);
}

.itemNameCategory{
    color: var(--black);
    padding-left: 2rem;
}

.ui.segment.itens.categoryItens:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    cursor: pointer;

    .iconProductAction {
        opacity: 1;
        transition: 0.3s;
    }
}

.subtext.Category{
    font-size: 1rem;
    top: 0px;
}

.buyCategoryButton {
    position: absolute;
    height: 3rem;
    width: 15rem;
    bottom: 0;
    right: 0;
}

.ui.fluid.blue.button.Category {
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 70%;
    font-size: 1.2rem;
    font-weight: bold;
}
