.ui.segment.itens.container_category_card {
    border-radius: 1rem;
    background-color: var(--white);
    width: 64rem;
    display: flex;
    align-items: center;
}

a:link {
    text-decoration: none;
} 

.category_card_content {
    display: flex;
    align-items: center;
}

.category_card_product_info {
    flex: 1;
    justify-content: space-between;
}

.iconProductAction.category_card {
    gap: 0.5rem;
    display: flex;
    margin: 1rem;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
}

.category_card_product_price {
    font-size: 28px;
    padding-left: 2rem;
    color: var(--blue-primary);
}

.category_card_product_description {
    font-size: 16px;
    padding-left: 2rem;
    color: var(--grey-primary);
}

.category_card_product_name {
    font-size: 25px;
    color: var(--black);
    padding-left: 2rem;
}

.ui.segment.itens.container_category_card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    cursor: pointer;

    .iconProductAction.category_card {
        opacity: 1;
        transition: 0.3s;
    }
}

.category_card_product_subtext {
    font-size: 13px;
    color: var(--grey-primary);
    top: 0px;
}

.category_card_buy_button {
    position: absolute;
    height: 3rem;
    width: 15rem;
    bottom: 0;
    right: 0;
}

.ui.fluid.blue.button.category_card {
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 70%;
    font-size: 1.2rem;
    font-weight: bold;
}

.ui.icon.button.category_card_compare {
   background-color: var(--blue-quaternary);
}