body {
    background-color: var(--grey-secondary);
}

.ui.vertical.divider{
    height: 10rem;
}

.ui.three.column.stackable.grid.container {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color:var(--white);;
    border-radius: 2rem;
    padding: 3rem;
}

.box{
    padding-left: 2rem;
    padding-right: 2rem;
}

.ui.button{
    background-color: var(--blue-primary);
    color: var(--white);
}

