.box.subNav {
    display: grid;
    grid-template-columns: repeat(12, 4rem);
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-secundary);
    height: 3rem;
}

.icon.menu {
    color: var(--white);
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.title {
    color: var(--white);
    position: absolute;
    left: 4rem;
    top: 6.6rem;
    font-size: 1.5rem;
}

.text {
    color: var(--white);
}