.container_cart_confirm {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ui.tiny.steps {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.box_cart_product_confirm {
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-top-left-radius:  20%;
    border-bottom-right-radius:  20%;
    height: 60rem;
    width: 100%;
}

.box_cart_product_detail_confirm {
    background-color: var(--blue-primary);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 60rem;
    width: 70%;
}

.box_info_total_cart {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.info_total_buy {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 25rem;
    width: 100%;
}

.boxInfoRecommend {
    display: flex;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 40rem;
    width: 100%;
}

.container_progress_cart_confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.fluid.ui.button.cont {
    background-color: var(--blue-quaternary);
}

.info_total_buy_title {
    font-size: 23px;
    font-weight: bold;
    color: var(--blue-primary);
}

.total_text_buy_product {
    font-size: 23px;
    font-weight: bold;
    padding-top: 2rem;
    color: var(--blue-primary);
}

.info_total_buy_subtitle {
    font-size: 16px;
    font-weight: bold;
    color: var(--grey-terciary);
}

.cart_confirm_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.cart_confirm_title_text {
    font-size: 30px;
    font-weight: bold;
    color: var(--blue-primary);
    padding-bottom: 2rem;
}

.fluid.ui.button {
    width: 100%;
    height: 100%;
}

.button_total_Cart {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.disabled.step {
    .icon {
        color: var(--grey-terciary);
    }
}

.completed.step {
    .icon {
        color: var(--blue-quaternary);
    }
}

.step {
    .icon {
        color: var(--blue-primary);
    }
}

.cart_confirm_transport {
    padding-top: 5%;
    padding-left: 15%;
}

.ui.form.confirm {
    font-size: 16px;
}