.modal-profile-content{
    z-index: 250;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    top : 0;
    right: 0;
    position: fixed;
    overflow: scroll;
    background-color: #fff;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-profile-content-detail {
    z-index: 250;
    font-size: 20px;
    align-items: center;
    justify-content: start;
    display: flex;
    height: 100%;
    width: 22%;
    top : 0;
    right: 0;
    position: fixed;
    overflow: scroll;
    background-color: var(--blue-secundary);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.backIcon {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}

.profileIcon {
    font-size: 35px;
    margin-left: 1rem;
}