.modal_profile_content{
    z-index: 250;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    top : 0;
    right: 0;
    position: fixed;
    overflow: scroll;
    background-color: #fff;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal_profile_content_container {
    z-index: 250;
    font-size: 20px;
    align-items: center;
    justify-content: start;
    display: flex;
    height: 100%;
    width: 22%;
    top : 0;
    right: 0;
    position: fixed;
    overflow: scroll;
    background-color: var(--blue-secundary);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.back_icon {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}

.profile_icon {
    color: var(--white);
    font-size: 35px;
    margin-left: 1rem;
}

.profile_icon:hover {
    color: var(--blue-secundary);
    transition: 0.3s;
    cursor: pointer;
}

.profile_modal_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil_image {
    width: 35%;
    height: 35%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--blue-secundary);
}

.circular.ui.icon.button.edit.profile {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5%;
    margin-right: 5%;
    background-color: var(--blue-secundary);
    color: var(--blue-secundary);
    font-size: 70%;
    cursor: pointer;
}

.circular.ui.icon.button.edit.profile:hover {
    background-color: var(--blue-primary);
    color: var(--blue-secundary);
    transition: 0.3s;
}

.profile_modal_header {
    display: flex;
    flex-direction: column;
}

.username_profile {
    color: var(--black);
    font-size: 20px;
}

.profile_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.profile_opt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding-top: 6rem;
    padding-left: 2rem;
}

.text_profile_opt {
    color: var(--black);
    font-size: 18px;
    margin-top: 1rem;
}

.text_profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding-left: 2rem;
}

.profile_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.profile_logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--blue-secundary);
}

.logo_weg {
    width: 90%;
    color: var(--blue-secundary);
}

.text_profile_footer {
    color: var(--blue-secundary);
    font-size: 13px;
    margin-top: -rem;
}

.base_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.text_profile_opt:hover {
    color: var(--blue-primary);
    transition: 0.3s;
    cursor: pointer;
}

.ui.icon.button.question.profile {
    background-color: var(--blue-secundary);
}

.ui.icon.button.basket.profile {
    background-color: var(--blue-secundary);
}

.ui.icon.button.shopping.profile {
    background-color: var(--blue-secundary);
}

.ui.icon.button.vision.profile {
    background-color: var(--blue-secundary);
}

.ui.icon.button.question.profile:hover {
    background-color: var(--blue-primary);
}

.ui.icon.button.basket.profile:hover {
    background-color: var(--blue-primary);
}

.ui.icon.button.shopping.profile:hover {
    background-color: var(--blue-primary);
}

.ui.icon.button.vision.profile:hover {
    background-color: var(--blue-primary);
}

.youtube.circle.icon.profile {
    color: var(--blue-primary);
}

.spotify.circle.icon.profile {
    color: var(--blue-primary);
}

.linkedin.circle.icon.profile {
    color: var(--blue-primary);
}

.skype.circle.icon.profile {
    color: var(--blue-primary);
}

.envelope.circle.icon.profile {
    color: var(--blue-primary);
}

.cpf_profile {
    color: var(--grey-tertiary);
    font-size: 14px;
}

.modal-profile-acessibility-container {
    position: fixed;
    top: 25%;
    right: 0;
    width: 40%;
    height: 20%;
    background-color: var(--blue-secundary);
    border-radius: 10px;

}

.inputAcessiblity {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 30%;
    left: 0;
    width: 40%;
    padding-left: 1rem;
}

.box_profile_acessibility {
    position: fixed;
    left: 0;
}

.modal_profile_acessibility_container {
    position: fixed;
    top: 15%;
    right: 0;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-secundary);
    border-radius: 10px;
}

.ui.left.compact.segment.profile {
    background-color: var(--blue-secundary);
    border: none;
    box-shadow: none;
}

.ui.fitted.slider.checkbox.profile {
    color: var(--black);
    border: none;
    box-shadow: none;
}

.ui.field.left.compact.segment.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    left: 10%;
    gap: 1rem;
}

.title_acessibility {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    font-size: 26px;
    left: 10%;
    position: fixed;
}

.button_acessibility {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 5%;
    width: 35%;
    top: 85%;
}

.ui.right.labeled.icon.button.profile {
    background-color: var(--blue-primary);
    height: 10%;
    width: 100%;
    color: var(--blue-white);
}

.ui.right.labeled.icon.button.profile:hover {
    background-color: var(--blue-secundary);
    border: solid 1px #fff;
    color: var(--blue-white);
    transition: 0.3s;
}