.home_divider_carousel {
    width: 100%;
    height: 2rem;
    background-color: var(--blue-tertiary);
}

.box_home_option_pages {
    width: 100%;
    height: 10rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    justify-content: space-evenly;
    display: flex; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    background-color: var(--white);
}

.home_optional_icons {
    padding: 2rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.home_divider_icons {
    width: 3px;
    border-radius: 10rem;
    height: 80%;
    background-color: var(--grey-tertiary);
}

.home_optional_description {
    color: var(--grey-quaternary);
    font-size: 14px;
}

.home_optional_title {
    color: var(--grey-primary);
    font-weight: bold;
    font-size: 18px;
}

.home_accessed {
    display: flex;
    padding-left: 6%;
    padding-top: 6%;
    align-items: center;
    gap: 2rem;
}

.home_accessed_title {
    font-weight: bold;
    color: var(--blue-primary);
    font-size: 35px;
}

.home_slider_product_accessed {
    padding-bottom: 20%;
}

.home_titles {
    padding-bottom: 10rem;
}

.home_slider_product_highlights {
    align-items: center;
    background-color: var(--blue-primary);
}

.home_highlights_title_text {
    color: var(--white);
    font-weight: bold;
    font-size: 35px;
}

.home_highlights_title {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-right-radius: 50px;
}

.container_home_category_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    width: 100%;
    height: 30rem;
}

.home_optional_category_button_image {
    width: 4rem;
    height: 4rem;
}

.home_optional_category_button_image_food {
    width: 5rem;
    height: 4rem;
}

.box_home_category_buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: var(--white);
    width: 90%;
    border-radius: 50px;
    height: 30rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home_optional_category_button {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 10px 5px var(--blue-primary);
    background-color: var(--blue-quaternary);
}

.home_optional_category_button:hover {
    background-color: var(--white);
    transition: 0.3s;
    border: solid 1px var(--blue-primary);
}

.home_optional_category {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--blue-primary);
    font-weight: bold;
}

.home_category_title {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: var(--white);
    color: var(--blue-primary);
    font-weight: bold;
    border-radius: 5rem;
    width: 40rem;
    height: 7rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 30px;
}

.home_optional_category_title {
    font-size: 25px;
}

.home_slider_product_searched {
    align-items: center;
    background-color: var(--blue-secundary);
}

.home_searched_title_text {
    color: var(--white);
    font-weight: bold;
    font-size: 35px;
}

.home_searched_aling {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-secundary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-left-radius: 50px;
}

.home_searched_title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.home_benefits_description_title {
    color: var(--blue-primary);
}

.home_benefits_description {
    color: var(--grey-primary);
    text-align: center;
}

.home_benefits_icon {
    height: 15rem;
    width: 15rem;
}

.home_benefits_description_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 3rem;
    width: 100%;
    height: 100%;
}

.home_benefits_info_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.home_benefiits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.home_benefiits_title {
    color: var(--blue-primary);
    font-weight: bold;
    font-size: 30px;
}

.container_home_benefits {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 3rem;
    padding-bottom: 10rem;
    justify-content: center;
    width: 100%;
    height: 80%;
}


.home_benefits_info {
    height: 30rem;
    width: 20rem;
    background-color: var(--white);
    display: grid;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--blue-quaternary);
    border-radius: 10px;
}

.home_benefits_info:hover {
    transition: 0.3s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home_announcements {
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home_announcements_banner {
    width: 40%;
    height: 20rem;
    border-radius: 10px;
}

.home_announcements_banner:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* --------------------versão mobile-------------------- */

.home_optional_category_title_mobile {
    font-size: 12px;
    font-weight: bolder;
}

.box_home_option_pages_mobile {
    width: 100%;
    height: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-evenly;
    display: flex; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    background-color: var(--white);
}

.boxCarrossel_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_optional_category_mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    color: var(--blue-primary);
    font-weight: bold;
}

.home_optional_category_button_mobile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 10px 5px var(--blue-primary);
    background-color: var(--blue-quaternary);
}

.home_optional_category_button_image_mobile {
    width: 50%;
    height: 50%;
}

.home_accessed_title_mobile {
    font-weight: bold;
    color: var(--blue-primary);
    font-size: 25px;
}

.home_accessed_mobile {
    display: flex;
    padding-left: 3%;
    padding-top: 20%;
    align-items: center;
    gap: 1rem;
}

.home_highlights_title_mobile {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--blue-primary);
    width: 85%;
    gap: 1rem;
    height: 2rem;
    padding: 2rem;
    color: var(--white);
    border-top-right-radius: 50px;
} 

.home_highlights_title_text_mobile {
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
}

.home_searched_aling_mobile {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--blue-secundary);
    width: 85%;
    gap: 1rem;
    height: 2rem;
    padding: 2rem;
    color: var(--white);
    border-top-left-radius: 50px;
}

.home_searched_title_text_mobile {
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
}

.home_announcements_mobile {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home_announcements_banner_mobile {
    width: 90%;
    height: 13rem;
    border-radius: 10px;
}

.home_announcements_banner_mobile:active {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home_announcements_products_mobile {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home_announcements_banner_products_mobile {
    width: 90%;
    height: 10rem;
    border-radius: 10px;
}

.home_announcements_banner_products_mobile:active {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home_titles_mobile {
    padding-bottom: 2.5rem;
}

/* --------------------versão tablet-------------------- */

.home_optional_category_title_tablet {
    font-size: 20px;
    font-weight: bolder;
}

.home_optional_category_tablet {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    color: var(--blue-primary);
    font-weight: bold;
}

.home_optional_category_button_tablet {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 10px 5px var(--blue-primary);
    background-color: var(--blue-quaternary);
}

.home_optional_category_button_image_tablet {
    width: 75%;
    height: 75%;
}

.box_home_option_pages_tablet {
    width: 100%;
    height: 10rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-evenly;
    display: flex; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    background-color: var(--white);
}

.home_announcements_tablet {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home_announcements_banner_tablet {
    width: 90%;
    height: 18rem;
    border-radius: 10px;
}

.home_announcements_banner_tablet:active {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home_announcements_products_tablet {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home_announcements_banner_products_tablet {
    width: 90%;
    height: 12rem;
    border-radius: 10px;
}

.home_announcements_banner_products_tablet:active {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home_accessed_tablet {
    display: flex;
    padding-left: 3%;
    padding-top: 10%;
    align-items: center;
    gap: 1rem;
}

.home_highlights_title_tablet {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--blue-primary);
    width: 60%;
    gap: 1rem;
    height: 2rem;
    padding: 2rem;
    color: var(--white);
    border-top-right-radius: 50px;
} 


.home_searched_aling_tablet {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--blue-secundary);
    width: 60%;
    gap: 1rem;
    height: 2rem;
    padding: 2rem;
    color: var(--white);
    border-top-left-radius: 50px;
}

.home_searched_title_text_tablet {
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
}

.home_highlights_title_text_tablet {
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
}

.home_slider_product_accessed_tablet {
    padding-bottom: 15%;
}