.dividerCarrossel {
    width: 100%;
    height: 2rem;
    background-color: var(--blue-tertiary);
}

.optionPages {
    width: 100%;
    height: 10rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.questIcon {
    padding: 2rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.dividerIcons {
    width: 0.3rem;
    border-radius: 10rem;
    height: 80%;
    background-color: var(--grey-tertiary);
}

.boxCarrossel {
    z-index: 0;
}

.descOpc {
    color: var(--grey-quaternary);
}

.titleOpc {
    color: var(--grey-primary);
}

.boxTitleAccessed {
    display: flex;
    padding-left: 6%;
    padding-top: 6%;
    align-items: center;
    gap: 2rem;
}

.titleAccessed {
    font-weight: bold;
    color: var(--blue-primary);
}

.sliderProductAccessed {
    padding-bottom: 6%;
}

.boxHighlights {
    padding-bottom: 10rem;
}

.boxHighlightsProducts {
    align-items: center;
    background-color: var(--blue-primary);
}

.titleHighlights {
    color: var(--white);
    font-weight: bold;
}

.boxTitleHighlights {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-right-radius: 50px;
}

.boxCategoryButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    width: 100%;
    height: 30rem;
}

.categoryButtonImg {
    width: 5rem;
    height: 5rem;
}

.categoryButtonsOpt {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: var(--white);
    width: 90%;
    border-radius: 50px;
    height: 30rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.categoryButton {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 10px 5px var(--blue-primary);
    background-color: var(--blue-quaternary);
}

.categoryButton:hover {
    background-color: var(--white);
    transition: 0.3s;
    border: solid 1px var(--blue-primary);
}

.categoryTitle {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--blue-primary);
    font-weight: bold;
}

.categoryTitleBox {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: var(--white);
    color: var(--blue-primary);
    font-weight: bold;
    border-radius: 5rem;
    width: 40rem;
    height: 7rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.boxSearched {
    padding-bottom: 10rem;
}

.boxSearchedProducts {
    align-items: center;
    background-color: var(--blue-secundary);
}

.titleSearched {
    color: var(--white);
    font-weight: bold;

}

.boxTitleSearched {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-secundary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-left-radius: 50px;
}

.containerTitleSearched {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}


.titleInfo {
    color: var(--blue-primary);
}

.descriptionInfo {
    color: var(--grey-primary);
}

.iconInfo {
    height: 15rem;
    width: 15rem;
}

.infoDescriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 3rem;
    width: 100%;
    height: 100%;
}

.iconInfoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.boxBenefiitsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.benefiitsTitle {
    color: var(--blue-primary);
    font-weight: bold;
    font-size: 2rem;
}

.containerBenefits {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 3rem;
    padding-bottom: 10rem;
    justify-content: center;
    width: 100%;
    height: 80%;
}


.infoBox {
    height: 30rem;
    width: 20rem;
    background-color: var(--white);
    display: grid;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--blue-quaternary);
    border-radius: 10px;
}

.infoBox:hover {
    transition: 0.3s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.boxAnnouncements {
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.announBanner {
    width: 40%;
    height: 20rem;
    border-radius: 10px;
}

.announBanner:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}