.product_cart_card {
    background-color: var(--white);
    width: 95%;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px var(--grey-secondary);
}

.product_cart_item_price {
    color: var(--blue-primary);
    padding-left: 1rem;
}

.product_cart_buttons {
    position: relative;
}

.product_cart_informations {
    padding-left: 1.5rem;
}

.product_cart_item_name {
    color: var(--grey-primary);
    font-size: 23px;
    padding-left: 1rem;
}

.ui.button.product_cart {
    align-items: center;
    width: 5rem;
    display: flex;
    flex-direction: column;
}

.ui.icon.button.product_cart {
    margin-bottom: 1.5rem;
    background-color: transparent;
    padding-left: 9rem;
}

.trash.alternate.icon.product_cart {
    color: var(--blue-primary);
    font-size: 1.7rem;
}

.ui.button.active.product_cart:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}
.ui.button.product_cart:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}



.product_cart_complement {
    color: var(--grey-primary);
    padding-left: 1rem;
    padding-right: 5rem;
}

.product_cart_subtext {
    font-size: 13px;
    color: var(--grey-primary);
}
