.rated_product_description {
    color: var(--grey-primary);
    padding-left: 1rem;
    padding-right: 5rem;
}

.rated_product_name {
    padding-left: 1rem;
    color: var(--blue-primary);
}

.box_rated_product {
    background-color: var(--white);
    width: 90%;
    display: flex;
    align-items: center;
    margin: 2rem auto 0;
    position: relative;
    padding: 2rem;
    border-bottom: solid 2px var(--grey-secondary);
}

.container_rated_product {
    margin-bottom: 2rem;
}

.rated_product_buttons {
    position: relative;
    right: 3%;
}

.ui.icon.button.rated_product {
    margin-bottom: 1.5rem;
    background-color: transparent;
    padding-left: 9rem;
}