.rated_product_description {
    color: var(--grey-primary);
    padding-left: 1rem;
    padding-right: 5rem;
}

.rated_product_name {
    padding-left: 1rem;
    color: var(--blue-primary);
}

.box_rated_product {
    background-color: var(--white);
    width: 90%;
    display: flex;
    align-items: center;
    margin: 2rem auto 0;
    position: relative;
    padding: 2rem;
    border-radius:1rem ;
    border: solid 0.05px var( --grey-senary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.container_rated_product {
    margin-bottom: 2rem;
}

.rated_product_buttons {
    position: relative;
    right: 3%;
}

.ui.icon.button.rated_product {
    margin-bottom: 1.5rem;
    background-color: transparent;
    padding-left: 9rem;
}


/* MOBILE */
.container_rated_product_mobile {
    margin-bottom: 2rem;
}
.rated_product_description_mobile {
    color: var(--grey-primary);
}

.rated_product_name_mobile {
    color: var(--blue-primary);
}

.rated_product_product_info_mobile {
    display: flex;
    flex-direction: column;
}

.box_two_rated_product_mobile {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
/* .container_rated_product_mobile{
    width: 20rem;
    
} */
.box_rated_product_mobile {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin: 2rem auto 0;
    align-items: center;
    background-color: var(--white);
    width: 90%;
    display: flex;
    border: solid 0.05px var( --grey-senary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.rated_product_buttons_mobile {
    display: flex;
    justify-self: right;
}

.ui.icon.button.rated_product_mobile {
    padding: 0;
    background-color: transparent;
}


/* TABLET */

.rated_product_description_tablet {
    color: var(--grey-primary);
    padding-left: 1rem;
}

.rated_product_name_tablet {
    padding-left: 1rem;
    color: var(--blue-primary);
}

.box_rated_product_tablet {
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto 0;

    padding: 2rem;
    border-radius:1rem ;
    border: solid 0.05px var( --grey-senary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.container_rated_product_tablet {
    margin-bottom: 2rem;
}

.rated_product_buttons_tablet {
    position: relative;
    right: 3%;
}

.ui.icon.button.rated_product_tablet {
    background-color: transparent;
    padding-left: 1.5rem;
}

