/* .boxProduct{
    width: 15rem;
    height: 20rem; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 20px; 
    cursor: pointer;
    margin: 10px; 
}

.ImageMotor{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ebeaea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titleProduct{
    font-size: 20px;
    padding-left: 10px;
}

.piceTagProduct{
    font-size: 18px;
    padding: 10px;
}
 */

 .ui.segment.itens {
    flex-direction: column;
    /* Altera para layout em coluna */
    width: 15%;
    /* Ajusta a largura automaticamente */
    padding: 10px;
    /* Adiciona espaçamento interno */
    height: 20%;
}


.itemContent {
    flex-direction: column;
    /* Altera para layout em coluna */
    align-items: flex-start;
    /* Alinha à esquerda */
}

#imgItens {
    margin-right: 0;
    /* Remove o espaçamento entre a imagem e as outras informações */
    margin-bottom: 2rem;
    /* Adiciona espaçamento inferior */
}

.itemInfo {
    text-align: left;
    /* Alinha o conteúdo à esquerda */
}

#imgItens{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ebeaea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.salvos{
    left: 150px;
    position: absolute;
    cursor: pointer;
}

.salvosimg{
    width: 100%;
    height: 100%;
    top: 10px;
}