body{
    background-color: #d8d8d8be;
}

.pagChat{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.chat{
    display: grid;
    grid-template-columns: 1fr;
}

.chatHeader{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue-primary);
    height: 5rem;
}

.chatMessages{
    background-color: var(--text-common);
    height: 30rem;
}

.chatOptions{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--blue-secundary);
    height: 5rem;
}

.backArrow{
    margin: 1rem;
}

.wegner{
    margin-top: 12rem;
    float: right;
    margin-left: 2rem;
}

.inputMessages{
    background-color: var(--text-common);
    border-radius: 20px;
    border: solid var(--text-common);
    width: 50rem;
}

.options{
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sendButton{
    color: var(--text-common);
}