.box_title_similar_order {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 30%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white); 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.spacement {
    margin-top: 2rem;
}