.productComparedCard{
    width: 100%;
    height: 100%;
    margin-top: -5%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color:var(--white);
    border-radius: 2rem;
}

.productComparedCardDetail{
    width: 108%;
    height: 100%;   
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color:var(--blue-primary);
    border-radius: 2rem;
}


.productsCompared{
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-gap: 10rem;
}

.productCompared{
    margin: 2rem;
}

.productImage{
    height: 13rem;
    width: 15rem;
}

.compareArrow{
    position: absolute;
    color: var(--blue-primary);
    justify-content: center;
    margin-top: 40%;
    margin-left: 24rem;
}

.compareArrow2{
    position: absolute;
    color: var(--blue-primary);
    margin-top: 40%;
    margin-left: 54rem;
}

.deleteButton{
    cursor: pointer;
}

.close.icon.Compare{
    align-items: center;
    color: var(--blue-primary);
}

.productNameCompare{
    padding-left: 3.9rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--black);
}

.compareDescription{
    font-size: 1.5rem;
}

.chart.line.icon.Compare{
    color: var(--blue-primary);
}

.exclamation.triangle.icon.Compare{
    color: var(--blue-primary);
}

.angle.double.up.icon.Compare{
    color: var(--blue-primary);
}

.external.alternate.icon.Compare{
    color: var(--blue-primary);
}

.chevron.up.icon.Compare{
    color: var(--blue-primary);
}

.buttonsActionCompare {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
}