.settingsBarEdit {
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 2rem;
    margin-right: 1rem;
    height: 90%;
    width: 20rem;
    border-radius: 5px;
    gap: 1rem;
}
.containerEdit{
    display: flex;

}

.ui.vertical.menu.edit{
    width: 20rem;
    border: none;
   
}
.edit-section-title-messages{
    padding: 1rem;

}
.mainInfoEdit{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.profilePicEdit{
    width: 10rem;
}

.ui.row.edit{
    width: 28rem;
}
.edit-section-messages{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--white);
    width: 69rem;
    height: 36.4rem;
    border-radius: 5px;
}
.ui.row.editSectionMessages{
    margin-top: 1rem;
}
.column.sections.messages{
    margin: 2rem;
    
}
.profileEdit {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--blue-secundary);
}
.edit-section-title-messages{
    padding: 2rem;
}