.header_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-primary);
    height: 100px;
    width: 100%;
    transition: 0.3s;
}

.image_logo_header {
    width: 100px;
}

.box_logo_header {
    margin-left: 3%;
}

.icons_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.opc_user_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    margin-left: -100px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.opc_register_header {
    cursor: pointer;
    color: #EFEFEF;
    margin-left: 2rem;
}

.opc_login_header {
    cursor: pointer;
    color: #EFEFEF;
}

.opc_login_header:hover {
    color: #0080C5;
    cursor: pointer;
    transition: 0.3s;
}

.opc_register_header:hover {
    color: #0080C5;
    transition: 0.3s;
}

.cart_icon_header {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.cart_icon_header:hover {
    color: #0080C5;
    transition: 0.3s;
}

.nav_bar_header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #2777B7;
    height: 49px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.opc_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
}

.nav_bar_header a {
    color: white;
    text-decoration: none;

}

.nav_bar_header a:hover {
    color: #90C1E3;
    text-decoration: none;
}

.divisor_header {
    background-color: white;
    width: 1px;
    height: 20px;
}

.scrolled_desktop {
    background-color: #0000007c;
    height: 50px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur( 2px );
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;

    .cart_icon_header {
        color: var(--white);
        font-size: 30px;
    }

    .image_logo_header {
        width: 60px;
    }

    .search_input_header {
        opacity: 0;
    }

}

/* ----------------------------Modelo Tablet---------------------------- */

.header_tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-primary);
    width: 100%;
    height: 70px;
    transition: 0.3s;
}

/* ----------------------------Modelo Mobile---------------------------- */

.header_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-primary);
    width: 100%;
    height: 50px;
    transition: 0.3s;
}

.image_logo_header_mobile {
    width: 50px;
}

.box_logo_header_mobile {
    display: flex;
    align-items: center;
}

.opc_header_mobile {
    display: flex;
    align-items: center;
    margin-right: 2.5%;
}

.icons_header_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.opc_user_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    margin-left: -100px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.opc_register_header {
    cursor: pointer;
    color: #EFEFEF;
    margin-left: 2rem;
}

.opc_login_header {
    cursor: pointer;
    color: #EFEFEF;
}

.opc_login_header:hover {
    color: #0080C5;
    cursor: pointer;
    transition: 0.3s;
}

.opc_register_header:hover {
    color: #0080C5;
    transition: 0.3s;
}

.cart_icon_header_mobile {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.cart_icon_header_mobile:hover {
    color: #0080C5;
    transition: 0.3s;
}

.nav_bar_header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #2777B7;
    height: 49px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.nav_bar_header a {
    color: white;
    text-decoration: none;

}

.nav_bar_header a:hover {
    color: #90C1E3;
    text-decoration: none;
}

.divisor_header {
    background-color: white;
    width: 1px;
    height: 20px;
}

.scrolled_mobile {
    background-color: #0000007c;
    height: 50px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 150;
    position: fixed;
    top: 0%;

    .cart_icon_header_mobile {
        color: var(--white);
        font-size: 30px;
    }

    .image_logo_header {
        width: 60px;
    }

    .search_input_header {
        opacity: 0;
    }

}