.containerCart {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ui.tiny.steps {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.boxCartProductInfo {
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-top-left-radius:  20%;
    border-bottom-right-radius:  20%;
    height: 40rem;
    width: 100%;
}

.boxCartProductDetailInfo {
    background-color: var(--blue-primary);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 40rem;
    width: 60%;
}

.boxContainerProgress{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.boxCartProductTitleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TitleTextCartProductInfo {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blue-primary);
}

.disabled.step {
    .icon {
        color: var(--grey-terciary);
    }
}

.completed.step {
    .icon {
        color: var(--blue-quaternary);
    }
}

.step {
    .icon {
        color: var(--blue-primary);
    }
}

.imgCartProductInfo {
    height: 60%;
    width: 50%;
}

.boxCartProductImg {
    height: 90%;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.boxCartProductTextFinal {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boxCartProductSubTextFinal {
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--blue-primary);
    gap: 0.5rem;
}

.ui.fluid.button.final.home {
    background-color: var(--blue-tertiary);
    height: 2.5rem;
    width: 70%;
    color: var(--white);
}

.SubTextFinal {
    color: var(--blue-primary);
}

.ui.button.final.home:hover {
    background-color: var(--grey-tertiary);
    color: var(--white);
}
