.container_cart_finish {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ui.tiny.steps {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.container_progress_cart_finish {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.box_cart_finish {
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-top-left-radius:  20%;
    border-bottom-right-radius:  20%;
    height: 40rem;
    width: 100%;
}

.box_cart_detail_finish {
    background-color: var(--blue-primary);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 40rem;
    width: 70%;
}

.boxContainerProgress{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.cart_finish_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart_finish_title_text {
    font-size: 36px;
    padding-top: 2.5rem;
    font-weight: bold;
    color: var(--blue-primary);
}

.disabled.step {
    .icon {
        color: var(--grey-terciary);
    }
}

.completed.step {
    .icon {
        color: var(--blue-quaternary);
    }
}

.step {
    .icon {
        color: var(--blue-primary);
    }
}

.cart_finish_weggner {
    width: 30%;
}

.box_cart_finish_img {
    height: 90%;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.cart_finish_text {
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--blue-primary);
    gap: 0.5rem;
}

.ui.fluid.button.final.home {
    background-color: var(--blue-tertiary);
    height: 2.5rem;
    width: 70%;
    color: var(--white);
}

.cart_finish_subtext {
    color: var(--blue-primary);
}

.ui.button.final.home:hover {
    background-color: var(--grey-tertiary);
    color: var(--white);
}
