.container_product_card_accessed {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-secondary);
    border-radius: 10px;
    width: 20rem;
    height: 35rem;
}

.container_product_card_accessed:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    cursor: pointer;

    .container_product_card_accessed_action_icon {
        opacity: 1;
        transition: 0.3s;
    }

}

.box_product_card_accessed_info_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.product_card_accessed_price {
    font-weight: bold;
    font-size: 25px;
    color: var(--blue-primary);
}

.product_card_accessed_price_option {
    color: var(--grey-primary);
    font-size: 14px;
}

.product_card_accessed_info_text {
    display: flex;
    color: var(--grey-primary);
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}

.box_product_card_accessed_tag_icon {
    position: absolute;
    padding: 1rem;
}

.container_product_card_accessed_action_icon {
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
}

.box_product_card_accessed_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card_accessed_buy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;

}

.fluid.ui.button.product_card_accessed_button {
    font-size: 16px !important;
    background-color: var(--blue-primary);
    color: var(--white);
}

.fluid.ui.button.product_card_accessed_button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.icon {
    color: var(--white);
}

.product_card_accessed_name {
    color: var(--grey-primary);
    font-size: 24px;
}

.product_card_highlight_description {
    font-size: 14px;
}

.ui.icon.button.product_card_accessed:hover, .circular.ui.icon.button.product_card.accessed:hover, .fluid.ui.button.product_card_accessed_button:hover {
    background-color: var(--grey-quinary);
    transition: 0.3s;
}