.box-carrossel {
    width: 100%;
    height: 100%; 
    margin-top: 18%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

Carousel.Item {
    position: relative;
    height: 50% !important;
    width: 100% !important;
    margin-top: 18%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.carrossel{
    position: relative;
    z-index: 0 !important;
}

.carrossel:hover {
    z-index: 1;
    height: 100%; 
}