.carousel_product_card_smaller_carousel{
    padding: 5rem;
    color: var(--blue-primary);
}

.slick-arrow.slick-prev {
    align-items: center;
    background-color: var(--blue-primary);
    border-radius: 50px;
}

.slick-arrow.slick-next {
    align-items: center;
    background-color: var(--blue-primary);
    border-radius: 50px;
}

.box_product_card_smaller_carousel {
    padding: 1rem;
}