.text-center.text-black {
    padding-top: 5rem;
} 

.text-center.text-black.FooterS {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(179, 179, 179, 1) 100%);
}

.btn.btn-outline-light.btn-floating.m-1 {
    border: none;
}

.btn.btn-floating.m-1.FooterS {
    align-items: center;
}

.youtube.icon.FooterS {
    color: black;
}

.instagram.icon.FooterS {
    color: black;
}

.linkedin.icon.FooterS {
    color: black;
}

.envelope.icon {
    color: black;
}

.spotify.icon {
    color: black;
}