.container_compare {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.box_products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_product_icon {
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: 122%;
}

.box_title_similar_recommended {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    margin-top: 10%;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.box_title_similar_compare {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    margin-bottom: 5rem;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_similar{
    font-size: 30px;
}

/* -------------version Tablet------------- */

.add_product_icon {
    cursor: pointer;
    position: absolute;
    right: 25%;
    top: 40%;
}