.compare {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addProduct {
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: 122%;
}

.titleCompare {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50px;
    height: 8rem;
    margin: 5%;
}



.boxTitleSimilarCompare {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    margin-top: 5rem;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.boxTitleSimilar {
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 40%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    margin-bottom: 5rem;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}