.header_login_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00579D;
    height: 100px;
    transition: 0.3s;
}

.box_logo_header_login {
    margin-left: 3%;
}

.image_logo_header_login {
    width: 100px;
}

.opc_header_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
}

.icons_header_login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.account {
    margin-left: -100px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.saves_header_login {
    cursor: pointer;
    color: #EFEFEF;
}

.saves_header_login:hover {
    color: #0080C5;
    transition: 0.3s;
}

.login:hover {
    color: #EFEFEF;
    cursor: pointer;
    transition: 0.3s;
}

.cart {
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.cart_header_login {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.cart_header_login:hover {
    color: #0080C5;
    transition: 0.3s;
}

.login {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav_bar_header_login {
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #2777B7;
    height: 49px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.nav_bar_header_login a {
    color: white;
    text-decoration: none;

}

.nav_bar_header_login a:hover {
    color: #90C1E3;
    text-decoration: none;
}

.divisor_header_login {
    background-color: white;
    width: 1px;
    height: 20px;
}

.scrolled_login_desktop {
    background-color: #0000007c;
    backdrop-filter: blur( 2px );
    height: 50px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 150;
    position: fixed;

    .saves_header_login {
        color: var(--white);
        font-size: 30px;
    }

    .cart_header_login {
        color: var(--white);
        font-size: 30px;
    }

    .image_logo_header_login {
        width: 60px;
    }

    .search_input_header {
        opacity: 0;
    }

}