
.font_decoration_none_blue {
  text-decoration: none;
  color: var(--blue-primary);
}

.font_decoration_none_white {
  text-decoration: none;
  color: var(--white);
}

:root {
  --blue-primary: #00579D;
  --blue-secundary: #2777B7;
  --text-common: #C7DCEC;
  --grey-primary: #3E3E3E;
  --grey-secondary: #EFEFEF;
  --grey-tertiary: #929292;
  --grey-quaternary: #797979;
  --grey-quinary: #A0A0A0;
  --grey-senary: #c0c0c0;
  --grey-septenary: #dadada;
  --white: #FFFFFF;
  --yellow-primary: #ffca2b;
  --glass: rgba(255, 255, 255, 0.3);
}

