body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("/src/assets/img/4850000.jpg");
  image-rendering: crisp-edges;
  background-repeat:repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --blue-primary: #00579D;
  --blue-secundary: #2777B7;
  --text-common: #C7DCEC;
  --grey-secondary: #3E3E3E;
  --grey-secondary: #EFEFEF;
  --white: #FFFFFF;
}