.column.itens.Recommended {
    margin: 2rem;
}

.ui.segment.itens.Recommended {
    margin: 2rem auto 0;
    border-radius: 1rem;
    background-color: var(--white);
    width: 40rem;
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
}

a:link.Recommended {
    text-decoration: none;
    /* Remova a decoração de link (sublinhado) se necessário */
}

.itemContent.Recommended {
    display: flex;
    align-items: center;
}

#imgItens.Recommended {

    margin-right: 2rem;
    /* Espaçamento entre a imagem e as outras informações */
}

.itemInfo.Recommended {
    flex: 1;
    /* Ocupa o espaço disponível */
    justify-content: space-between;
    /* Alinha o conteúdo nos extremos da div */
}

.iconProductAction.Recommended {

    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
}

.ui.vertically.divided.grid.Recommended {
    margin: 3rem;
}

.ui.header.motor.Recommended {
    text-align: center;
}

.itemPreco.Recommended {
    padding-left: 2rem;
    color: var(--blue-primary);
}

.descricao.Recommended {
    font-size: 1rem;
    padding-left: 2rem;
    color: var(--grey-primary);
}

.itemName.Recommended {
    color: var(--black);
    padding-left: 2rem;
}

.ui.segment.itens.Recommended:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    cursor: pointer;

    .iconProductAction.Recommended {
        opacity: 1;
        transition: 0.3s;
    }
}

.subtext.Recommended{
    font-size: 1rem;
    top: 0px;
}

.buyButton.Recommended {
    position: absolute;
    height: 2rem;
    width: 10rem;
    bottom: 0;
    right: 0;
}

.ui.fluid.blue.button.Recommended {
    border-radius: 0px;
    font-size: 1rem;
    font-weight: bold;
    width: 0.2rem;
    height: 15rem;
    left: 0%;
}

.ui.blue.icon.button.Recommended {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 2rem;
    height: 2rem;
}

.trash.alternate.icon.Recommended {
    align-items: center;
    color: var(--red);
    font-size: 0.9rem;
    transition: 0.3s;
}