.horizontalSmallBoxProduct.Recommended {
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 20rem;
    height: 7rem;
}

.horizontalSmallBoxProduct.Recommended:hover {
    transition: 0.3s;
    cursor: pointer;

    .detailSmallProduct {
        transition: 0.3s;
        cursor: pointer;
        width: 1.5rem;
    }

}

.horizontalSmallBoxProductPrice.Recommended {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.horizontalSmallPriceProduct.Recommended {
    font-weight: bold;
}

.horizontalSmallBoxProductInfo.Recommended {
    display: flex;
    padding-left: 0.4rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.horizontalSmallBoxProductTitle.Recommended {
    display: flex;
    color: var(--grey-primary);
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    height: 100%;
}

.horizontalSmallBoxProductImage.Recommended {
    display: flex;
    padding-left: 0.6rem;
    justify-content: flex-end;
    align-items: center;
}

.horizontalSmallBoxProductButton.Recommended {
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30px;
}


.ui.fluid.button.horizontalSmall.Recommended {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 1rem;
}

.detailSmallProduct.Recommended {
    align-items: end;
    display: flex;
    justify-content: end;
    background-color: var(--blue-tertiary);
    width: 0.8rem;
    height: 80%;
    border-radius: 10px;
}

.detailTextSmallProduct.Recommended {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: var(--white);
    rotate: 90deg;
    font-size: 1rem;
}