.container_recommended_save {
    display: flex;
    align-items: start;
    background-color: var(--blue-primary);
    color: var(--white);
    width: 80%;
    height: 7rem;
    padding-bottom: 1rem;
}

.recommended_save_product_price {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.recommended_save_product_price_tag {
    font-weight: bold;
}

.recommended_save_product_info {
    display: flex;
    padding-left: 0.4rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    
}

.recommended_save_product_title {
    display: flex;
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    height: 100%;
}

.recommended_save_image_tag {
    border-radius: 100px;
    border: 10px solid var(--blue-tertiary);
}

.recommender_save_image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.recommended_save_buttons_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}