.product_cart_confirm_item_content {
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    left: 4%;
    padding: 2rem;
    position: relative;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px var(--grey-secondary);
}

.product_cart_confirm_product_price {
    font-size: 28px;
    color: var(--blue-primary);
    padding-left: 1rem;
}

.product_cart_confirm_qauntity {
    align-items: end;
    justify-content: end;
    display: flex;
    position: absolute;
    right: 0;
}

.product_cart_confirm_product_name {
    color: var(--grey-primary);
    padding-left: 1rem;
    font-size: 23px;
}

.product_cart_confirm_product_description {
    font-size: 15px;
    color: var(--grey-primary);
    padding-left: 1rem;
    padding-right: 5rem;
}

.product_cart_confirm_product_subtext {
    font-size: 13px;
    color: var(--grey-primary);
}

.product_cart_confirm {
    color: var(--black);
    font-size: 20px;
    padding-top: 3rem;
    padding-left: 1rem;
}

/* -------------version Mobile------------- */

.product_cart_confirm_item_content_mobile {
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    left: 4%;
    padding: 2rem;
    position: relative;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px var(--grey-secondary);
}