.wegnerModal{
    position: fixed;
    float: right;
    bottom: 1rem;
    right: 1rem;
    width: 1rem;
    z-index: 99;
    
}

.wegner{
    z-index: 99;
    background-color: var(--blue-primary);
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    cursor: pointer;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    box-shadow: 9px 7px 5px rgba(43, 43, 43, 0.77);
}

.wegner:hover{
    background-color: var(--blue-secundary);
}

.modalContent{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    float: right;
    bottom: 4rem;
    right: 5rem;
    width: 15rem;
    height: 25rem;
    background-color: aliceblue;
    border: solid 0.01rem rgba(0, 0, 0, 0.151);
    border-radius: 20px;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    box-shadow: 9px 7px 5px rgba(43, 43, 43, 0.77);
}