.container_product{
    display: flex;
    align-items: center;
    width: 110vh;
    height: 15rem;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid var(--blue-secundary);
    background-color: var(--white);
    margin-top: 5%;
}

.container_product .product_image img{
    width: 13rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.box_product_infoAndPrice .box_product_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
}

.box_product_infoAndPrice .box_product_info h1{
    font-size: 30px;
    color: var(--blue-secundary);
    margin-bottom: 2rem;
}

.box_product_infoAndPrice .product_description {
    width: 70%;
    font-size: 10px;
    margin-bottom: 2rem;
}

.box_product_infoAndPrice .product_description h3{
    font-size: 14px;
}

.box_product_infoAndPrice .product_Price{
    display: flex;
    align-items: center;
}

.product_Price img{
    cursor: pointer;
}

.box_product_infoAndPrice{
    display: flex;
}

.product_price{
    display: flex;
    width: 50%;
    height: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box_product_infoAndPrice .product_price h2{
    font-size: 23px;
    color: var(--blue-secundary);
}

.box_product_infoAndPrice .product_price img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    margin-left: 1rem;
}