body{
    background-color: var(--grey-secondary);
}

.noHaveProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.noHaveProduct img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.noHaveProduct h1{
    color: var(--blue-secundary);
    height: 50vh;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Having product */

.container_salvos h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 4rem;
}