.container_save_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.box_title_similar_save_rec {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-color: var(--blue-primary);
    width: 30%;
    gap: 2rem;
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--white);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

body {
    background-color: var(--grey-secondary);
}

.box_title_similar_save {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--blue-primary);
    width: 30%;
    gap: 2rem;
    height: 3rem;
    padding: 3rem;
    color: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.save_title_theme {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.save_products {
    padding-bottom: 5rem;
    padding-left: 2rem;
    display: flex;
    display: block;
}

.save_saved_product {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    width: 80%;
}