.background {
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 980;
}

::-webkit-scrollbar{
    border-radius: 10px;
    display: none;
}

.menu{
  cursor: pointer;
}

.MenuIcon {
    color: #fff;
    font-size: 3rem;
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.modal-menu-content{
    z-index: 250;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48%;
    width: 20%;
    position: fixed;
    overflow: scroll;
    background-color: #fff;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.categoryName{
    color: var(--blue-primary);
}

.listCategory{
    padding-top: 3rem;
    padding-bottom: 3rem;
}