.background {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 249;
}

::-webkit-scrollbar {
    border-radius: 10px;
    display: none;
}

.menu {
    cursor: pointer;
}

.menu_icon {
    color: #fff;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.box_modal_menu_content {
    z-index: 250;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: scroll;
    background-color: #fff;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal_menu_title {
    font-size: 32px;
}

.container_modal_menu_content_detail {
    z-index: 250;
    font-size: 20px;
    align-items: center;
    justify-content: end;
    display: flex;
    height: 100%;
    width: 22%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: scroll;
    background-color: var(--blue-secundary);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.back_icon {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}

.category_name {
    color: var(--blue-primary);
}

.box_modal_menu_content_header {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    color: var(--blue-primary);
    justify-content: center;
    align-items: center;
}

.category_title_selected {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: start;
    padding-left: 1rem;
    align-items: center;
    gap: 1rem;
}

.sub_category_selected {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 4rem;
    gap: 0.5rem;
}

.sub_category {
    color: var(--grey-tertiary);
    font-size: 13px;
}

.category_title {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
}

.sub_category:hover {
    color: var(--blue-primary);
    cursor: pointer;
    transition: 0.3s;
}