.modal {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(114, 112, 112, 0.671);
    position: absolute;
    left: 8rem;
    top: 11.5rem;
    font-size: 20px;
    z-index: 990;
    left: 1%;
    font-size: 20px;
    z-index: 12;
    overflow: scroll;
}

.background {
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

::-webkit-scrollbar{
    border-radius: 10px;
    display: none;
}

.menu{
  cursor: pointer;
}

.MenuIcon {
    color: #fff;
    font-size: 3rem;
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    z-index: 13;
    cursor: pointer;
}
